name: GitHub Profile Summary Cards
on:
  push:
  schedule:
    - cron: "0 0 * * *"   # updates daily
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: sayantaniy
